<div class="row mb-4">
  <div class="col-md-4">
    <mat-card class="d-flex align-center">
      <img src="https://image.flaticon.com/icons/svg/869/869045.svg" class="icon mr-3">
      <div class="d-flex flex-column justify-content-center">
        <p class="h6 mb-0 text-uppercase">Total</p>
        <p class="h5 mb-0 text-uppercase">1234</p>
      </div>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="d-flex align-center">
      <img src="https://image.flaticon.com/icons/svg/497/497738.svg" class="icon mr-3">
      <div class="d-flex flex-column justify-content-center">
        <p class="h6 mb-0 text-uppercase">Total</p>
        <p class="h5 mb-0 text-uppercase">1234</p>
      </div>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="d-flex align-center">
      <img src="https://image.flaticon.com/icons/svg/2312/2312986.svg" class="icon mr-3">
      <div class="d-flex flex-column justify-content-center">
        <p class="h6 mb-0 text-uppercase">Total</p>
        <p class="h5 mb-0 text-uppercase">1234</p>
      </div>
    </mat-card>
  </div>
</div>



<mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100px">
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>