<div class="row mb-4">
  <div class="col-md-4">
    <mat-card class="d-flex align-center">
      <img src="https://image.flaticon.com/icons/svg/869/869045.svg" class="icon mr-3">
      <div class="d-flex flex-column justify-content-center">
        <p class="h6 mb-0 text-uppercase">Total</p>
        <p class="h5 mb-0 text-uppercase">1234</p>
      </div>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="d-flex align-center">
      <img src="https://image.flaticon.com/icons/svg/497/497738.svg" class="icon mr-3">
      <div class="d-flex flex-column justify-content-center">
        <p class="h6 mb-0 text-uppercase">Total</p>
        <p class="h5 mb-0 text-uppercase">1234</p>
      </div>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="d-flex align-center">
      <img src="https://image.flaticon.com/icons/svg/2312/2312986.svg" class="icon mr-3">
      <div class="d-flex flex-column justify-content-center">
        <p class="h6 mb-0 text-uppercase">Total</p>
        <p class="h5 mb-0 text-uppercase">1234</p>
      </div>
    </mat-card>
  </div>
</div>

<div class="search_form p-3 d-flex justify-content-between align-items-center">
  <mat-form-field appearance="outline" class="w-50">
    <mat-label>Search products</mat-label>
    <input (keyup)="search($event)" [(ngModel)]="textSearch" matInput placeholder="name, product id, price, stock">
    <mat-icon *ngIf="!textSearch" matSuffix>search</mat-icon>
    <button (click)="clearSearch()" *ngIf="textSearch" mat-button matSuffix mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-flat-button color="primary">
    <mat-icon>add</mat-icon>
    New Product
  </button>
</div>

<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100px">
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>